@tailwind base;
@tailwind components;
@tailwind utilities;
  

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.container {
  @apply flex;
}

.left {
  @apply w-1/2 p-4;
}

.right {
  @apply w-1/2 p-4;
}

.form label {
  @apply block mb-2;
}

.form input {
  @apply block mb-4 w-full;
}

.form button {
  @apply mt-2;
}

.group:hover .group-hover\:block {
  display: block;
}

